.hidde
{
	display: none;
}

.wraper
{
	width: 90%;
	margin: 10px auto;
}
.iso-nav
{
	text-align: center;
}
.iso-nav ul li
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	padding: 10px 15px;
	border:1px solid #5274a9;
	cursor: pointer;
	transition: all .5s ease;
}
.iso-nav ul li:hover
{
	background: #5274a9;
	color: #fff;
}
.main-iso
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
   
}
.main-iso .item
{
 	width: 200px;
 	margin-bottom: 10px;
}
.item img
{
	width: 100%;
	height: auto;
}
.active
{
	background: #5274a9;
	color: #fff;
}