.hidde
{
	display: none;
}

.wraper
{
	width: 90%;
	margin: 10px auto;
}
.iso-nav
{
	text-align: center;
}
.iso-nav ul li
{
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	padding: 10px 15px;
	border:1px solid #5274a9;
	cursor: pointer;
	transition: all .5s ease;
}
.iso-nav ul li:hover
{
	background: #5274a9;
	color: #fff;
}
.main-iso
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
   
}
.main-iso .item
{
 	width: 200px;
 	margin-bottom: 10px;
}
.item img
{
	width: 100%;
	height: 170px;
}
.active
{
	background: #5274a9;
	color: #fff;
}


.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}
.questions
{
	border: 1px solid gray;
	text-align: center;
}
.test-wraper
{
	width: 90%;
	margin: 10px auto;
}

.answer
{
	padding-top: 4px;
	padding-bottom: 4px;
}
.answer label 
{
	padding-left:  10px;
}
.certificate h1,h3,h5,form
{
	text-align: center;
}